<a href="https://colab.research.google.com/github/Rikupro-creator/DSA_python/blob/main/python_algorithms_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Given a list, write a Python program to swap first and last element of the list.

Examples:

Input : [12, 35, 9, 56, 24] Output : [24, 35, 9, 56, 12] Input : [1, 2, 3] Output : [3, 2, 1]

In [3]:
lst=[12,35,9,56,24]
first, * somenumbers, last=lst
# now lets change the list to the last number
lst1=last, *somenumbers, first
print(lst1)

(24, 35, 9, 56, 12)

In [4]:
# lets try with another approach
# lets copy the list
lst_copy=lst.copy()
lst_copy[-1], lst_copy[0]=lst_copy[0],lst_copy[-1]
print(lst_copy)

[24, 35, 9, 56, 12]

Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list.

Examples:  

Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90]

Input : List = [1, 2, 3, 4, 5], pos1 = 2, pos2 = 5
Output : [1, 5, 3, 4, 2]

In [5]:
input_list=[23,65,19,90]

# now we can use the previous approach

input_list[3],input_list[1]=input_list[1], input_list[3]

print(input_list)

[23, 90, 19, 65]

In [7]:
# just a trial to find the length of a list
sum(1 for i in input_list)

4

Given two numbers, write a Python code to find the Maximum of these two numbers.

Examples:

Input: a = 2, b = 4
Output: 4

Input: a = -1, b = -4
Output: -1

In [8]:
# option 1
a, b= 2,4
def maximum(a,b):
  return max(a, b)
maximum(a,b)

4

In [10]:
# option 2 using if statements
def maximum2(a, b):
  if a>=b:
    return a
  else:
    return b
maximum2(a, b)

4

In [11]:
# option 3 using list comprehension

def maximum3(a,b):
  return [a if a>=b else b]
maximum3(a, b)

[4]

In [14]:
# using lambda- I had to refer this

def maximum4(a,b):
  maximum=lambda a,b:a if a>b else b
  print(maximum)
maximum4(a,b)

<function maximum4.<locals>.<lambda> at 0x7ebd7fdb40d0>

In [17]:
# using sort
def maximum5(a,b):
  lst=[a,b]
  lst.sort()
  return lst[-1]
maximum5(a,b)

4